html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;
}
.most_top {
  position: absolute;
  right:30px;
  top:3px;
  color:#666;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
}

.fa-fw {
  width:39px;
  font-weight:600;
}

.ms-layer.ms-caption {

  height:100%;
  color:#FFFFFF;

  &.home {
    background-color:rgba(17,152,169,0.8);
    padding:7% 2em;
    width:350px;
  }
}

.kahverengi_bg {
  background-color:$kahverengi;
  color:#FFFFFF;
}
.mavi_bg {
  background-color: $mavi;
  color:#FFFFFF;
}
.gri_bg {
  background-color: $gri;
  color: $koyu_gri;
}
.kirmizi_bg {
  background-color: $kirmizi;
  color:#FFFFFF;
}

.sea_green_bg {
  background-color: $sea_color;
  color:#FFFFFF;
}

.footer-text {
  line-height:15px;
  font-size:12px;
}

h5, h1, h2 {
  font-weight:600 !important;
}

button {
  font-weight:600 !important;
}

.haberler {
  p {
    strong {
      font-size:14px;
      color: $koyu_gri;
    }
    margin:0;
    padding:0;
    font-size:12px;
    text-align:center;
    &:first-child {
      margin-top:15px;
    }
  }
}

.gallery_top_margin {
  margin-top:13px;
}
a {
    text-decoration: none !important;
    color:#333;
    &:hover {
      color:#666;
    }
}

#navbarSupportedContent>ul {
  margin-left:55px;
  font-size:14px;
  li {
    margin-right:20px;
    padding: 0 !important;
  }
  a {
    color: $koyu_gri;
    font-weight:600;
    &.active {
      color: #fe7800;
    }
  }
}

.navbar-nav .dropdown-menu.first {
  background-color:rgba(255,255,255,0.8);
  margin-top:30px;
  left: -20px;
  li {
    padding:0;
    margin-right:0 !important;
      a {
        &:hover, &:active {
          background-color: $turuncu;
          color:#FFFFFF !important;
      }
    }
  }
}

.navbar-nav .dropdown-menu.second {
  background-color:rgba(255,255,255,0.8);
  margin-top:0px;
  li {
    padding-left:15px;
  }
}

.category_holder {
  background-color:#f6f6f6;
  padding:15px;
  border-radius:10px;
  color: $koyu_gri;
  .subcategories img {
    border:2px solid #CCC;
    border-radius:10px;
    &:hover, &.active {
      cursor: pointer;
      border-color:$sea_color;
    }
  }
  &.owl-carousel {
    .owl-dots {
      display: none;
    }
    .owl-nav {
      position: absolute;
      width:100%;
      .owl-prev {
        position: absolute;
        left:-45px;
        top:-80px;
      }
      .owl-next {
        position: absolute;
        right:-15px;
        top:-80px;
      }
    }
  }
}

.detail_column {
  padding:20px 30px;
  .ana_kategori_adi {
    font-size:16px;
    margin-bottom:5px;
  }
  h3.urun_adi {
    font-weight:600;
  }
}

.iliskili_urun_adi {
  margin-top:2px;
  padding:2px;
  font-size:14px;
  font-weight: 600;
  background:#ebebeb;
  color:#333333;
}

#map {
  width:100%;
  height:450px;
}

.head_search {
  width:245px !important;
}

@media(max-width:1439px) {
  .head_search {
    width:auto !important;
  }
}

@media(min-width:992px) and (max-width:1100px) {
  .head_search {
    width:5rem !important;
  }
}

.kutular {
  h5 {
    font-size:1rem;
  }
}

.haber_gorsel {
  max-height:197px;
  overflow: hidden;
}
