
// Body
$body-bg: #FFFFFF;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 0.8rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$kahverengi: #86714e;
$mavi: #00b4e1;
$gri: #cedde1;
$kirmizi: #ff4438;
$koyu_gri: #476373;
$sea_color: #1198a9;
$turuncu: #fe7800;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
) !default;

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 100%,
  xxl: 1440px
) !default;

$sea_color:     #1198a9 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "sea_color":  $sea_color,
    "koyu-gri": $koyu_gri,
    "acik-gri": #f3f3f3
  ),
  $theme-colors
);
